# Create Heatmaps for Weather Parameters

### For more infor of gmaps https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Davila,PH,2022-10-02 02:37:48,18.4726,120.5763,89.58,67,78,12.35
1,1,Avera,US,2022-10-02 02:37:49,33.1940,-82.5271,68.05,71,37,6.38
2,2,Nikolskoye,RU,2022-10-02 02:37:49,59.7035,30.7861,42.69,95,100,2.82
3,3,Hobart,AU,2022-10-02 02:37:06,-42.8794,147.3294,63.05,49,75,13.80
4,4,Ushuaia,AR,2022-10-02 02:37:50,-54.8000,-68.3000,40.66,60,20,16.11

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Remember to change the Google Api Key to the variable at config to avoid people to use it, before updating to GitHub

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key="g_key")

# Basic syntax for a heatmap

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# Assign the figure variable.
fig=gmaps.figure()
# Assign the heatmap variable.
heat_layer=gmaps.heatmap_layer(locations,weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#map1.png

Figure(layout=FigureLayout(height='420px'))

### Using list comprehension we can use the next line of code instead the for loop
#[max(temp,0) for temp in max_temp]

#heat_layer= gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#we rerun the previous code with the changes

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# Assign the figure variable.
fig=gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#map2.png

Figure(layout=FigureLayout(height='420px'))

# Adjust Heatmap Zoom, Intensity, and Point Radius

In [15]:
# Heatmap of temperature with zoom and centered (using gmaps.figure() attributes
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#map3.png

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of temperature with zoom and centered (using gmaps.figure() dissipation, max intensity and point radius attributes) 
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#map4.png

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [20]:
# We reuse the code with the new values of measurment

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#map5.png

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [22]:
# We reuse the code with the new values of measurment

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
#map6.png

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [23]:
# We reuse the code with the new values of measurment

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Creating Vacation Criteria

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
country_pref = (input("Country of your preference? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Country of your preference? MX

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_countries_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df['Country']== "MX")]
preferred_countries_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Ixtapa,MX,2022-10-02 02:37:51,20.7000,-105.2000,77.23,100,100,4.61
202,202,Teacapan,MX,2022-10-02 02:43:12,22.5500,-105.7500,80.87,82,100,2.01
347,347,Choix,MX,2022-10-02 02:42:35,26.7092,-108.3219,77.43,58,0,2.59
352,352,Coahuayana,MX,2022-10-02 02:47:10,18.7333,-103.6833,76.98,90,99,3.38
496,496,Lazaro Cardenas,MX,2022-10-02 02:48:29,17.9583,-102.2000,77.88,85,87,1.25

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) ]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Davila,PH,2022-10-02 02:37:48,18.4726,120.5763,89.58,67,78,12.35
7,7,Ixtapa,MX,2022-10-02 02:37:51,20.7000,-105.2000,77.23,100,100,4.61
8,8,The Valley,AI,2022-10-02 02:37:51,18.2170,-63.0578,82.26,80,100,14.38
13,13,Gamba,GA,2022-10-02 02:37:53,-2.6500,10.0000,75.09,90,100,5.08
14,14,Sibu,MY,2022-10-02 02:37:53,2.3000,111.8167,79.11,94,40,8.05

In [40]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [41]:
preferred_cities_df.notnull().sum()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [42]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

# Map Vacation with the customers´ criteria

### Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip. We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.

### Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame to hold the name of the hotel.

In [43]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Davila      PH     89.58  18.4726  120.5763
7       Ixtapa      MX     77.23  20.7000 -105.2000
8   The Valley      AI     82.26  18.2170  -63.0578
13       Gamba      GA     75.09  -2.6500   10.0000
14        Sibu      MY     79.11   2.3000  111.8167
16      Avarua      CK     75.25 -21.2078 -159.7750
22        Oume      JP     82.89  35.7839  139.2431
25       Yanam      IN     75.79  16.7333   82.2167
30       Ambon      ID     86.14  -3.6954  128.1814
39        Auki      SB     82.90  -8.7676  160.7034

In [91]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except:
        print("Hotel not found... skipping.")
    pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [92]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [93]:
hotel_df.count()

City          155
Country       155
Max Temp      155
Lat           155
Lng           155
Hotel Name    155
dtype: int64

In [94]:
hotel_df.notnull().sum()

City          155
Country       155
Max Temp      155
Lat           155
Lng           155
Hotel Name    155
dtype: int64

In [95]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Davila,PH,89.58,18.4726,120.5763,Blue Ridge Beach Resort
7,Ixtapa,MX,77.23,20.7000,-105.2000,hotel la terminal
8,The Valley,AI,82.26,18.2170,-63.0578,CeBlue Villas & Beach Resort
13,Gamba,GA,75.09,-2.6500,10.0000,
14,Sibu,MY,79.11,2.3000,111.8167,RH HOTEL (4 Star)
16,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
22,Oume,JP,82.89,35.7839,139.2431,KAMENOI HOTEL OME
25,Yanam,IN,75.79,16.7333,82.2167,The Regency Hotel
30,Ambon,ID,86.14,-3.6954,128.1814,Swiss-Belhotel Ambon
39,Auki,SB,82.90,-8.7676,160.7034,Auki Motel

# Create a Maximum Temperature Heatmap from a Hotel DataFrame
### Documentation on markers and symbols 
https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols

In [103]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [104]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [105]:
#Reusing code for heatmap
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

#Adding markers for each city on top of the heatmap
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
#map7.png

Figure(layout=FigureLayout(height='420px'))