# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")

vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
1,6,Veraval,IN,81.27,scattered clouds,20.9000,70.3667,Lords Inn Somnath
2,16,Moussoro,TD,83.25,scattered clouds,13.6408,16.4901,Pharmacie alnadja Moussoro
3,17,San Policarpo,PH,85.24,scattered clouds,12.1791,125.5072,Agapita M. Nicart
4,18,Georgetown,MY,88.90,scattered clouds,5.4112,100.3354,Cititel Penang
5,25,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
6,29,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,Paradise Inn
7,32,Butaritari,KI,82.18,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
8,35,Fuling,CN,78.94,scattered clouds,29.7022,107.3919,Yingbin Hostel
9,41,Ko Samui,TH,82.44,scattered clouds,9.5357,99.9357,The Passage

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [4]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [6]:
four_cities_mx= vacation_df.loc[vacation_df["Country"]== "MX"]
four_cities_mx

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,124,Ixtapa,MX,79.83,scattered clouds,20.7000,-105.2000,hotel la terminal
42,166,Ojinaga,MX,76.15,scattered clouds,29.5667,-104.4167,Suites Las Palmas
63,250,Pochutla,MX,76.82,scattered clouds,15.7432,-96.4661,Hotel Posada San Jose
70,280,Acapulco,MX,80.42,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
111,456,Cabo San Lucas,MX,83.50,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
133,543,Alamos,MX,75.45,scattered clouds,27.0167,-108.9333,Luz del Sol
168,666,Progreso,MX,78.91,scattered clouds,21.2833,-89.6667,Playa Linda Hotel

In [14]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = "Ixtapa"
vacation_end = "Ixtapa"
vacation_stop1 = "Ojinaga"
vacation_stop2 = "Alamos"
vacation_stop3 = "Cabo San Lucas"

vacation_start = vacation_df.loc[vacation_df["City"]== vacation_start]
vacation_end = vacation_df.loc[vacation_df["City"]== vacation_end]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== vacation_stop1]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== vacation_stop2]
vacation_stop3 = vacation_df.loc[vacation_df["City"]== vacation_stop3]

In [15]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,124,Ixtapa,MX,79.83,scattered clouds,20.7,-105.2,hotel la terminal

In [16]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,124,Ixtapa,MX,79.83,scattered clouds,20.7,-105.2,hotel la terminal

In [17]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
42,166,Ojinaga,MX,76.15,scattered clouds,29.5667,-104.4167,Suites Las Palmas

In [18]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
133,543,Alamos,MX,75.45,scattered clouds,27.0167,-108.9333,Luz del Sol

In [19]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
111,456,Cabo San Lucas,MX,83.5,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.
Syntax: df.to_numpy()[0]

More info:

-https://www.nbshare.io/notebook/949639952/Convert-Pandas-DataFrame-To-Numpy-Arrays/

-https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy

In [21]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

More info: https://developers.google.com/maps/documentation/javascript/directions

In [22]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, 
                                            waypoints=[stop1,stop2,stop3],
                                           travel_mode= "DRIVING" or "BYCYCLING" or "Walking")

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

Syntax: pd.concat([df5, df6], join='inner')
        
        
More info: 

-https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html

-https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

In [23]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,124,Ixtapa,MX,79.83,scattered clouds,20.7000,-105.2000,hotel la terminal
1,166,Ojinaga,MX,76.15,scattered clouds,29.5667,-104.4167,Suites Las Palmas
2,543,Alamos,MX,75.45,scattered clouds,27.0167,-108.9333,Luz del Sol
3,456,Cabo San Lucas,MX,83.50,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [24]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]
locations.head()

       Lat       Lng
0  20.7000 -105.2000
1  29.5667 -104.4167
2  27.0167 -108.9333
3  22.8909 -109.9124

In [25]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))